<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="icon" href="/web-server/public/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css"> 
    <script src='../public/js/app1.js'></script>
    <body>
        <div class="main-content">
            {{>header}}

            <p> Use this site for your weather</p>

        </div>
       
        {{>footer}}
    </body>
</head>

</html>