<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css"> 
    <script src='../public/js/app1.js'></script>
    <body>
       {{>header}}
       <p></p>
        {{>footer}}
    </body>
</head>

</html>